trunk/O2 - All Active Projects/O2Core/O2_Legacy_CoreLib/xsd/mdiControls.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MdiControls">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="View" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mdiButton" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="icon" type="xs:string" use="required" />
                  <xs:attribute name="parameter" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>